@media screen and (max-width: 499px) {
  #bgcolor{
    background-color: #603a75;
  }
  #content {
    border-radius: 10px;
    position: static;
    background-color:#ba8fba;
    padding: 1%;
    width: 100%;
  }
  /*ZOOM*/
  .zoom{
    overflow: hidden;
  }
  .zoom img {
    max-width: 100%;
    transition: all 0.7s;
  }
  .zoom:hover{
    transform:scale(1.5);
    transition: 1s;
  }
  /*ZOOM*/
  .button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f4f4f4;
    padding: 10px 20px;
    background-color: #901d78;
    border-radius: 14px;
    border: 1px solid #901d78;
    box-shadow:
      0px 1px 3px rgba(000,000,000,0.5);
    text-shadow:
      0px -1px 0px rgba(000,000,000,0.2),
      0px 1px 0px rgba(255,255,255,0.4);
  }

  .rodape {
    position: static;
    padding: 0%;
  }

  :root {
    --background: #f4f4f4;

  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #f0f0f0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  }


  .logo {
    position: relative;
    left: calc(50vw - 35px/2);
    right: 0;
  }
  /* navigation styles start here */

  header {
    background: var(--background);
    /*text-align: center;*/
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    
    background: #901d78;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: #ba8fba;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color:#901d78;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  table
  {
    margin-left: -10%;
  }
  .text-white
  {
    text-align: justify;
  }
}
@media screen and (min-width: 500px) {
  #bgcolor{
    background-color: #603a75;
  }
  #content {
    border-radius: 10px;
    position: static;
    background-color:#ba8fba;
    padding: 1%;
  }
  /*ZOOM*/
  .zoom{
    overflow: hidden;
  }
  .zoom img {
    max-width: 100%;
    transition: all 0.7s;
  }
  .zoom:hover{
    transform:scale(1.5);
    transition: 1s;
  }
  /*ZOOM*/
  .button {
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 14px;
  	color: #f4f4f4;
  	padding: 10px 20px;
  	background-color: #901d78;
  	border-radius: 14px;
  	border: 1px solid #901d78;
  	box-shadow:
  		0px 1px 3px rgba(000,000,000,0.5);
  	text-shadow:
  		0px -1px 0px rgba(000,000,000,0.2),
  		0px 1px 0px rgba(255,255,255,0.4);
  }

  .rodape {
    position: static;
    padding: 0%;
  }

  :root {
    --background: #f4f4f4;

  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
  	margin: 0;
  	background: #f0f0f0;
  	font-family: 'Work Sans', sans-serif;
  	font-weight: 400;
  }


  .logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
  }
  /* navigation styles start here */

  header {
    background: var(--background);
    /*text-align: center;*/
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }

  .nav-toggle:focus ~ .nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    
    background: #901d78;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }

  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }

  .nav-toggle-label span::before {
    bottom: 7px;
  }

  .nav-toggle-label span::after {
    top: 7px;
  }

  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }

  nav a {
    color: #ba8fba;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  nav a:hover {
    color:#901d78;
  }

  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }

  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
}






/*-------------------------------------------------------------------FORMATAÇÂO DO @MEDIA-------------------------------------------------------*/

@media screen and (min-width: 1100px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 4;
    color: #fff;
  }

  .logo a
  {
    color: #fff;
    text-decoration: none;
  }
  
  nav {
     all: unset; /* this causes issues with Edge, since it's unsupported */
    
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #901d78;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
  .Pag-atual::before
  {
    transform: scale(1,1);
  }
  .Pag-atual
  {
    color: #ba8fba;
  }
  .Pag-outras
  {
    color: #ba8fba;
  }

  
}